/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #3187d8;
  --ifm-color-primary-dark: #267ac9;
  --ifm-color-primary-darker: #2473bd;
  --ifm-color-primary-darkest: #1e5f9c;
  --ifm-color-primary-light: #4794dc;
  --ifm-color-primary-lighter: #529ade;
  --ifm-color-primary-lightest: #74aee5;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #3187d8;
  --ifm-color-primary-dark: #267ac9;
  --ifm-color-primary-darker: #2473bd;
  --ifm-color-primary-darkest: #1e5f9c;
  --ifm-color-primary-light: #4794dc;
  --ifm-color-primary-lighter: #529ade;
  --ifm-color-primary-lightest: #74aee5;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
